<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="Test on chrome" >
<parameter name="ip" value="192.168.43.246"/>
<parameter name="browser" value="chrome"/>
<packages>
<package name="Script"/>
</packages>
  </test> <!-- Test -->
  <test name="Test on firefox" >
<parameter name="ip" value="192.168.43.246"/>
<parameter name="browser" value="firefox"/>
<packages>
<package name="Script"/>
</packages>
  </test>
</suite> <!-- Suite -->
