<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="Script.TC02_ValidateDiscoverDollar_External_links"/>
      <class name="Script.TC04_ValidateDiscoverDollar_Solutionspage"/>
      <class name="Script.TC03_ValidateDiscoverDollar_feedback"/>
      <class name="Script.TC01_Validate_DiscoverDollar_UI"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
